body {
  font-family: Arial, sans-serif;
  line-height: 1.3;
  font-size: 11pt;
  color: #000;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0.2em;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 14pt;
  margin-top: 1.2em;
}

h3 {
  font-size: 12pt;
  margin-top: 1em;
}

p, li {
  margin: 0 0 0.35em 0;
}

ul {
  padding-left: 1.1em;
}

a {
  color: #0645AD;
  text-decoration: none;
}
